html { width: 98%; margin: 0 auto; padding: 0; }
body { background: #fff; font: 13px/20px "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif; }
/*total layout*/
#wraper { width: 95%; margin: 0 auto 50px auto; } /*hole content*/
.nav_box { width: 100%; height: 30px; margin-bottom: 20px; } /*nav*/
.search-box { width: 100%; color: #555860; height: 40px; background: none;} /*search*/
.box { width: 100%; border-radius: 5px; margin: 20px 0; background-color: #eff9fd; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1); border: 1px solid #c0c0c8; }
.none { display: none; }
/*nav box*/
.nav_box nav { width: auto; height: 30px; float: left; line-height: 30px; font-size: 18px; }
.nav_box .refresh_button { display: block; text-decoration: none; float: left; margin-left: 30px; width: 30px; height: 30px; border-radius: 8px; background: url("../images/scan_icon.png") no-repeat; }
.nav_box a:hover { background-color: #FFEBCD; }

.search-item { display: inline-block; position: relative; width: auto; height: 40px;  margin-right: 20px;}
.search-item > .search-item-content { position: absolute; bottom: 0px; }

/*day range input box*/
div.choose-date {width: 300px; height: 38px; z-index: 100;  font: 16px/20px "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif; }
div.dateshow { position: relative; width: 300px; height: 38px; border-radius: 5px; border: 1px solid black; }
div.datepeaker { position: absolute; top: 39px; width: 300px; height: 130px; border-radius: 5px; border: 1px solid black; padding: 0; clear: both; background: #fff; }
div.dateshow .date { float: left; width: 250px; height: 100%; border-right: 1px solid black; line-height: 40px; background: url(../images/calendar.jpg) no-repeat 0 center; background-size: 25px 25px; }
div.dateshow .date .date_display { margin-left: 40px; }
div.dateshow .arrow_box { height: 100%; position: absolute; left: 251px; right: 0px; top: 0px; }
div.dateshow .arrow_box .arrow { position: absolute; width: 0; height: 0; top: 18px; left: 15px; border: 8px solid transparent; border-top: 8px solid black; }
div.datepeaker .easy { position: relative; width: 100%; height: 35px; background: #c0d4eb; margin: 0; border: 0; border-radius: 5px 5px 0 0; }
div.datepeaker .easy ul { position: absolute; left: 0px; top: 0px; bottom: 0px; margin: 0 0 0 20px; padding: 8px 0; list-style: none; line-height: 23px; }
div.datepeaker .easy ul li { display: inline-block; border-right: 1px solid black; height: 100%; padding: 0 5px 5px 3px; }
div.datepeaker .easy ul li:last-child { border-right: 0; }
div.datepeaker .easy ul li:hover, div.dateshow:hover { cursor: pointer; }
div.datepeaker .errorinfo { position: relative; width: 100%; height: 20px; }
div.datepeaker .errorinfo span { display: inline-block; font-size: 12px; color: red; }
div.datepeaker .errorinfo .startdateerrormsg { position: absolute; left: 40px; width: 100px; display: none; }
div.datepeaker .errorinfo .enddateerrormsg { position: absolute; left: 160px; width: 100px; display: none; }
div.datepeaker .more-date { position: relative; width: 100%; height: 40px; }
div.datepeaker .more-date input[type="text"] { width: 100px; border: 1px solid; border-radius: 3px; border-color: #a8acbc; box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc; }
div.datepeaker .confirm-button { position: relative; width: 50%; height: 40px; margin: 0 auto; }
div.datepeaker .confirm-button input[type="button"] { font-size: 17px; color: white; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); border: 0; border-radius: 3px; cursor: pointer; margin-right: 10px; }
div.datepeaker .confirm-button input[type="button"].confirm { background: #5ca934; border-bottom: 2px solid #009999; -webkit-box-shadow: inset 0 -1px #009999; box-shadow: inset 0 -1px #009999; }
div.datepeaker .confirm-button input[type="button"].cancel { background: #f0776c; border-bottom: 2px solid #d76b60; -webkit-box-shadow: inset 0 -1px #d76b60; box-shadow: inset 0 -1px #d76b60; }
div.datepeaker .confirm-button input[type="button"]:active { outline: none; -webkit-box-shadow: none; box-shadow: none; border-color: transparent; }

/*search one day input*/
div.choose-data-oneday {min-width: 200px;}
div.choose-data-oneday input { background: url(../images/calendar.jpg) no-repeat 0 center; background-size: 28px 23px; padding-left: 50px; width: 150px; height: 35px; font-size: 20px; }

/*choose room type dropdown list*/
.choose-room {min-width: 100px;}
.choose-room select { width: 100px; height: 30px; font-weight: bold;}
.choose-room select option { height: 30px; }

/*channel input*/
.choose-channelId {width: 80px;}
.choose-channelId input { width: 80px; height: 25px; font-size: 15px; border-radius: 3px; border: 1px solid black;}

/*gamepoint*/
.choose-point {width: 200px;}
.choose-point input { width: 80px; height: 25px; font-size: 15px; border-radius: 3px;  border: 1px solid black;}

/*search button*/
.search-button {min-width: 150px;}
.search-button .errormsg {color: red; vertical-align: center; }

/*search result box*/
.box .chart_title { width: 100%; height: 40px; margin-bottom: 10px; }
.box .chart_title span { display: inline-block; font-size: 25px; margin-left: 2em; line-height: 40px; color: #09579a }

/*button*/
.button { position: relative; display: inline-block; vertical-align: top; height: 28px; line-height: 25px; padding: 0 10px; font-size: 15px; color: white; text-align: center; text-decoration: none; text-shadow: 0 -1px rgba(0, 0, 0, 0.4); background-clip: padding-box; border: 1px solid; border-radius: 2px; cursor: pointer; -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25); box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25); }
.button:before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; pointer-events: none; background-image: -webkit-radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0)); background-image: -moz-radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0)); background-image: -o-radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0)); background-image: radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0)); }
.button:hover:before { background-image: -webkit-radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03)); background-image: -moz-radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03)); background-image: -o-radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03)); background-image: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03)); }
.button:active { -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }
.button:active:before { content: none; }
.button-blue { background: #1097e6; border-color: #0d78b6 #0d78b6 #0b689e; background-image: -webkit-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3); background-image: -moz-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3); background-image: -o-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3); background-image: linear-gradient(to bottom, #25a5f0, #1097e6 66%, #0f8ad3); }
.button-blue:active { background: #1097e6; border-color: #0b689e #0d78b6 #0d78b6; }
